<app-header titulo="card"></app-header>

<ion-content>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium libero perferendis incidunt nemo similique sed provident vitae, illo consequuntur repudiandae eveniet fugit quis inventore facere minima quod quisquam modi voluptates?
    </ion-card-content>

  </ion-card>

  <ion-card-content>

    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, totam voluptatibus possimus optio illo eos ab sunt, error, in porro rem libero odio enim dolore. Corrupti autem suscipit expedita explicabo?
    </ion-card-content>

  </ion-card-content>


</ion-content>
